<body>

<!-- Start Header Area -->
<app-nav2></app-nav2>
<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="banner-area relative">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Về chúng tôi
        </h1>
        <p>Với đội ngũ chất lượng và đầy năng lực, chúng tôi đã tạo nên một website đầy tiềm năng phát triển.</p>
      </div>
    </div>
  </div>
  <div class="rocket-img">
    <img src="assets/homeUniversity/img/rocket.png" alt="">
  </div>
</section>
<!-- End Banner Area -->


<!-- Start About Area -->
<section class="about-area section-gap">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-5 col-md-6 about-left">
        <img class="img-fluid" src="assets/homeUniversity/img/about.jpg" alt="">
      </div>
      <div class="offset-lg-1 col-lg-6 offset-md-0 col-md-12 about-right">
        <h1>
          Học lập trình  <br> Học Aptech
        </h1>
        <div class="wow fadeIn" data-wow-duration="1s">
          <p>
            Không chỉ được học chương trình lập trình viên quốc tế ACCP Aptech
            Mà còn được đào tạo song song chương trình thực tiễn của tập đoàn FPT
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->


<!-- Start Faculty Area -->
<section class="faculty-area section-gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h1>Các thành viên phát triển Website</h1>
        </div>
      </div>
    </div>
    <div class="row justify-content-center d-flex align-items-center">
      <div class="col-lg-2 col-md-6 col-sm-12 single-faculty">
        <div class="thumb d-flex justify-content-center">
          <img class="img-fluid" src="assets/homeUniversity/img/faculty/f1.jpg" alt="">
        </div>
        <div class="meta-text text-center">
          <h4>Đào Duy khánh</h4>
          <p class="designation">Chức vụ : Nhóm trưởng</p>
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 single-faculty">
        <div class="thumb d-flex justify-content-center">
          <img class="img-fluid" src="assets/homeUniversity/img/faculty/f2.jpg" alt="">
        </div>
        <div class="meta-text text-center">
          <h4>Ngô Ngọc Đức</h4>
          <p class="designation">Chức vụ: Phó Nhóm</p>
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 single-faculty">
        <div class="thumb d-flex justify-content-center">
          <img class="img-fluid" src="assets/homeUniversity/img/faculty/f3.jpg" alt="">
        </div>
        <div class="meta-text text-center">
          <h4>Hà Văn Thường</h4>
          <p class="designation">Chức vụ : Thành viên</p>
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 single-faculty">
        <div class="thumb d-flex justify-content-center">
          <img class="img-fluid" src="assets/homeUniversity/img/faculty/f4.jpg" alt="">
        </div>
        <div class="meta-text text-center">
          <h4>Trần Ngọc Khánh</h4>
          <p class="designation">Chức vụ : Thành viên</p>
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 single-faculty">
        <div class="thumb d-flex justify-content-center">
          <img class="img-fluid" src="assets/homeUniversity/img/faculty/f4.jpg" alt="">
        </div>
        <div class="meta-text text-center">
          <h4>Trần Thị Hương Ly</h4>
          <p class="designation">Chức vụ : Thành viên</p>
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 single-faculty">
        <div class="thumb d-flex justify-content-center">
          <img class="img-fluid" src="assets/homeUniversity/img/faculty/f4.jpg" alt="">
        </div>
        <div class="meta-text text-center">
          <h4>Nguyễn Thị Tình</h4>
          <p class="designation">Chức vụ : Thành viên</p>
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Faculty Area -->

<!-- Start Footer Area -->
<app-footer></app-footer>
<!-- End Footer Area -->

<!-- ####################### Start Scroll to Top Area ####################### -->
<div id="back-top">
  <a title="Go to Top" href="#"></a>
</div>
