<style type="text/css">
  html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden;
  }

  #my_form {
    position: absolute;
    top: 100px;
    left: 200px;
    z-index: 10001;
    display: none;
    background-color: white;
    border: 2px outset gray;
    padding: 20px;
    font-family: Tahoma;
    font-size: 10pt;
  }

  #my_form1 {
    position: absolute;
    top: 100px;
    left: 200px;
    z-index: 10001;
    display: none;
    background-color: white;
    border: 2px outset gray;
    padding: 20px;
    font-family: Tahoma;
    font-size: 10pt;
  }

  #my_form2 {
    position: absolute;
    top: 100px;
    left: 200px;
    z-index: 10001;
    display: none;
    background-color: white;
    border: 2px outset gray;
    padding: 20px;
    font-family: Tahoma;
    font-size: 10pt;
  }

  #my_form3 {
    position: absolute;
    top: 100px;
    left: 200px;
    z-index: 10001;
    display: none;
    background-color: white;
    border: 2px outset gray;
    padding: 20px;
    font-family: Tahoma;
    font-size: 10pt;
  }

  #my_form label {
    width: 200px;
  }
</style>
<app-nav></app-nav>
<main>
  <div #scheduler_here class="dhx_cal_container" style="width: 100%; height: 80vh">
    <div class="dhx_cal_navline">
      <div class="dhx_cal_prev_button" >&nbsp;</div>
      <div class="dhx_cal_next_button">&nbsp;</div>
      <div class="dhx_cal_today_button"></div>
      <div class="dhx_cal_date"></div>
      <div class="dhx_cal_tab" name="day_tab"></div>
      <div class="dhx_cal_tab" name="week_tab"></div>
      <div class="dhx_cal_tab" name="month_tab"></div>
    </div>
    <div class="dhx_cal_header"></div>
    <div class="dhx_cal_data"></div>
  </div>
</main>
<div id="my_form" style="display: none; top: 411px; left: 664px;">
  <label for="description" id="description" style="width: 100%"></label>
  <input type="hidden" name="" id="descriptionInp">
  <button class="btn btn-info mb-2" name="save" value="Active" style="width:100px;font-size: 10px;" (click)="active()">
    Bắt đầu
  </button>
  <br>
  <button class="btn btn-danger mb-2" name="close" value="Close" id="close" style="width:100px;font-size: 10px;"
          (click)="close_form()">
    Đóng
  </button>
</div>
<div id="my_form1" style="display: none; top: 411px; left: 664px;">
  <label for="description" id="description1"></label>
  <input type="hidden" name="" id="descriptionInp1">
  <br>
  <button class="btn btn-success mb-2" name="close" value="Close" style="width:140px; font-size: 10px;"
          (click)="attendent()">
    Danh sách điểm danh
  </button>
  <button class="btn btn-danger mb-2" name="close" value="Close" style="width:100px;font-size: 10px;"
          (click)="close_form1()">
    Đóng
  </button>
</div>
<div id="my_form2" style="display: none; top: 411px; left: 664px;">
  <label for="description" id="description2"></label>
  <input type="hidden" name="" id="descriptionInp2">
  <br>
  <button class="btn btn-danger mb-2" name="close" value="Close" style="width:100px;font-size: 10px;"
          (click)="close_form2()">
    Đóng
  </button>
</div>
<div id="my_form3" style="display: none; top: 411px; left: 664px;">
  <label for="description" id="description3"></label>
  <input type="hidden" name="" id="descriptionInp3">
  <br>
  <button class="btn btn-danger mb-2" name="close" value="Close" style="width:100px;font-size: 10px;"
          (click)="close_form3()">
    Đóng
  </button>
</div>


