<!-- End Courses Area -->
<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 single-footer-widget">
        <h4>Liên hệ</h4>
        <ul>
          <li><a href="#">FPT Aptech Hà Nội</a></li>
          <li><a href="#">Toà nhà Detech - ĐH FPT, Số 8, Tôn Thất Thuyết, Mỹ Đình, Từ Liêm, Hà Nội.</a></li>
          <li><a href="#">Liên hệ phòng tuyển sinh: (024) 7300 8855</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 single-footer-widget">
        <h4>Liên hệ</h4>
        <ul>
          <li><a href="#">FPT Aptech Hồ chí minh</a></li>
          <li><a href="#">590 Cách Mạng Tháng Tám, Quận 3, TPHCM (Sau lưng Siêu Thị Điện Máy Chợ Lớn)</a></li>
          <li><a href="#">Liên hệ phòng tuyển sinh: (028) 3 846 0846 - (028) 7300 8866</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 single-footer-widget">
        <h4>Phản hồi</h4>
        <p>Bạn cần tư vấn trợ giúp ?</p>
        <div class="form-wrap" id="mc_embed_signup">
          <form target="_blank"
                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                method="get" class="form-inline">
            <input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''"
                   onblur="this.placeholder = 'Vui lòng nhập email '"
                   required="" type="email">
            <button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
            <div style="position: absolute; left: -5000px;">
              <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
            </div>

            <div class="info"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-bottom row align-items-center">
      <div class="col-lg-4 col-md-12 footer-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-behance"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer Area -->
