<app-nav></app-nav>
<main>
  <div class="container-fluid">
    <!-- Section: Intro -->
    <section class="mt-md-4 pt-md-2 mb-5 pb-4">

      <div class="row">

        <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
          <div class="card card-cascade cascading-admin-card">
            <div class="admin-up">
              <i class="far fa-money-bill-alt primary-color mr-3 z-depth-2"></i>
              <div class="data">
                <p class="text-uppercase">Sinh Viên</p>
                <h4 class="font-weight-bold dark-grey-text">2010</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
          <div class="card card-cascade cascading-admin-card">
            <div class="admin-up">
              <i class="fas fa-chart-line warning-color mr-3 z-depth-2"></i>
              <div class="data">
                <p class="text-uppercase">Giáo Viên</p>
                <h4 class="font-weight-bold dark-grey-text">201</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-md-0 mb-4">
          <div class="card card-cascade cascading-admin-card">
            <div class="admin-up">
              <i class="fas fa-chart-pie light-blue lighten-1 mr-3 z-depth-2"></i>
              <div class="data">
                <p class="text-uppercase">Lớp hoc</p>
                <h4 class="font-weight-bold dark-grey-text">60</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-0">
          <div class="card card-cascade cascading-admin-card">
            <div class="admin-up">
              <i class="fas fa-chart-bar red accent-2 mr-3 z-depth-2"></i>
              <div class="data">
                <p class="text-uppercase">Phòng hoc</p>
                <h4 class="font-weight-bold dark-grey-text">40</h4>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <div class="row ">

      <!-- Grid column -->
      <div class="col-lg-6 col-md-12">

        <!-- Panel -->
        <div class="card mb-4">

          <div class="card-header white-text primary-color">
            <h5 class="font-weight-500 my-1">Recent comments and replies</h5>
          </div>

          <div class="card-body">

            <table class="table">
              <tbody>
              <tr>
                <td class="border-top-0">John Doe</td>
                <td class="border-top-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
                <td class="border-top-0 hour">
                        <span class="grey-text float-right">
                          <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                        </span>
                </td>
              </tr>
              <tr>
                <td>Merry Joe</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
                <td class="hour">
                        <span class="grey-text float-right">
                          <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                        </span>
                </td>
              </tr>
              <tr>
                <td>Jessie Doe</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
                <td class="hour">
                        <span class="grey-text float-right">
                          <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                        </span>
                </td>
              </tr>
              </tbody>
            </table>

            <button
              class="btn btn btn-flat grey lighten-3 btn-rounded waves-effect font-weight-bold  float-right btn-dash">
              View
              full report
            </button>

          </div>

        </div>
        <!-- Panel -->

        <!-- Panel -->
        <div class="card mb-lg-0 mb-4">

          <div class="card-header white-text primary-color">
            <h5 class="font-weight-500 my-1">Issues</h5>
          </div>

          <div class="card-body">

            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th class="font-weight-bold ">Status</th>
                  <th class="font-weight-bold ">Title</th>
                  <th class="font-weight-bold ">User</th>
                  <th class="font-weight-bold ">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><span class="badge green">Open</span></td>
                  <td>Lorem ipsum dolor</td>
                  <td>John Doe</td>
                  <td class="hour">
                          <span class="grey-text">
                            <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                          </span>
                  </td>
                </tr>
                <tr>
                  <td><span class="badge green">Open</span></td>
                  <td>Lorem ipsum dolor</td>
                  <td>John Doe</td>
                  <td class="hour">
                          <span class="grey-text">
                            <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                          </span>
                  </td>
                </tr>
                <tr>
                  <td><span class="badge warning-color">In progress</span></td>
                  <td>Lorem ipsum dolor</td>
                  <td>John Doe</td>
                  <td class="hour">
                          <span class="grey-text">
                            <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                          </span>
                  </td>
                </tr>
                <tr>
                  <td><span class="badge red">Closed</span></td>
                  <td>Lorem ipsum dolor</td>
                  <td>John Doe</td>
                  <td class="hour">
                          <span class="grey-text">
                            <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                          </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="card mb-4">
          <div class="card-header white-text primary-color">
            <h5 class="font-weight-500 my-1">Recent comments and replies</h5>
          </div>
          <div class="card-body">
            <table class="table">
              <tbody>
              <tr>
                <td class="border-top-0">John Doe</td>
                <td class="border-top-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
                <td class="border-top-0 hour">
                        <span class="grey-text float-right">
                          <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                        </span>
                </td>
              </tr>
              <tr>
                <td>Merry Joe</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
                <td class="hour">
                        <span class="grey-text float-right">
                          <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                        </span>
                </td>
              </tr>
              <tr>
                <td>Jessie Doe</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
                <td class="hour">
                        <span class="grey-text float-right">
                          <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                        </span>
                </td>
              </tr>
              </tbody>
            </table>
            <button
              class="btn btn btn-flat grey lighten-3 btn-rounded waves-effect font-weight-bold  float-right btn-dash">
              View
              full report
            </button>
          </div>
        </div>
        <div class="card mb-lg-0 mb-4">
          <div class="card-header white-text primary-color">
            <h5 class="font-weight-500 my-1">Issues</h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th class="font-weight-bold ">Status</th>
                  <th class="font-weight-bold ">Title</th>
                  <th class="font-weight-bold ">User</th>
                  <th class="font-weight-bold ">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><span class="badge green">Open</span></td>
                  <td>Lorem ipsum dolor</td>
                  <td>John Doe</td>
                  <td class="hour">
                          <span class="grey-text">
                            <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                          </span>
                  </td>
                </tr>
                <tr>
                  <td><span class="badge green">Open</span></td>
                  <td>Lorem ipsum dolor</td>
                  <td>John Doe</td>
                  <td class="hour">
                          <span class="grey-text">
                            <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                          </span>
                  </td>
                </tr>
                <tr>
                  <td><span class="badge warning-color">In progress</span></td>
                  <td>Lorem ipsum dolor</td>
                  <td>John Doe</td>
                  <td class="hour">
                          <span class="grey-text">
                            <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                          </span>
                  </td>
                </tr>
                <tr>
                  <td><span class="badge red">Closed</span></td>
                  <td>Lorem ipsum dolor</td>
                  <td>John Doe</td>
                  <td class="hour">
                          <span class="grey-text">
                            <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                          </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid row -->
  </div>
</main>



