<app-nav></app-nav>
<main>
  <div class="container-fluid" >
<section class="mb-5">
  <!-- Card -->
  <div class="card card-cascade narrower">
    <!-- Section: Table -->
    <section>
      <div class="card card-cascade narrower z-depth-0">
        <div
          class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center"
          style="height: 70px !important;">
          <h4>Danh sách ghi chú</h4>
          <!-- Search form -->
          <div class="md-form mt-3 form-search">
            <input class="form-control search-color" type="text" placeholder="Tìm kiếm" name="searh" [(ngModel)]="searchText" aria-label="Search">
          </div>
          <div class="add-teacher" title="Thêm mới">
          </div>
        </div>
        <div class="px-4">
          <div class="table-responsive">
            <!--Table-->
            <table class="table table-hover mb-0">
              <!-- Table head -->
              <thead>
              <tr>
                <th class="th-lg2"><b>STT</b></th>
                <th class="th-lg2"><b>Sinh viên</b></th>
                <th class="th-lg2"><b>Giảng viên</b></th>
                <th class="th-lg"><b>Ghi chú</b></th>
              </tr>
              </thead>
              <!-- Table head -->
              <!-- Table body -->
              <tbody>
              <tr *ngFor="let note of notes | paginate: config | filter: searchText; index as i ">
                <td>{{config.itemsPerPage * (config.currentPage - 1) + i + 1}}</td>
                <td>{{note.nameStudent}}</td>
                <td>{{note.nameTeacher}}</td>
                <td>{{note.note}}</td>
                <td>
                  <a class="teal-text" data-toggle="tooltip" data-placement="top" title="Sửa" (click)="openModal(note.id, template)"><i class="fas fa-pencil-alt" style="margin: 10px;"></i></a>
                  <a class="red-text" data-toggle="tooltip" data-placement="top" title="Xóa" (click)="delete(note.id)"><i class="fas fa-times" style="margin: 10px;"></i></a>
                </td>
              </tr>
              </tbody>
              <!-- Table body -->
            </table>
            <!-- Table -->
            <pagination-controls (pageChange)="pageChanged($event)" previousLabel="" nextLabel="" ></pagination-controls>
          </div>
          <hr class="my-0">
        </div>
      </div>
    </section>
    <!--Section: Table-->
  </div>
  <!-- Card -->
</section>
<ng-template #template let-modal>
  <form (ngSubmit)="submitEdit()">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Sửa ghi chú</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="md-form form-sm">
        <i class="far fa-sticky-note prefix"></i>
        <input type="text" id="form" name="note" class="form-control form-control-sm" [(ngModel)]="note.note">
      </div>

      <div class="text-center mt-1-half">
        <button type="submit" class="btn btn-info mb-1">Sửa ghi chú<i class="fas fa-check ml-1"></i></button>
      </div>
    </div>
  </form>
</ng-template>
  </div>
</main>
