<app-nav></app-nav>
<main>
  <div class="container-fluid">
    <!-- Section: Inputs -->
    <section class="section card mb-5">
      <div class="card-body">
        <!-- Section heading -->
        <h1 class="text-center my-5 h1">Sửa tin tức</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onEdit()">
          <!-- Grid column -->
          <div class="row">
            <div class="col-md-6 mb-4">
              <div><label class="">Thể loại</label></div>
              <div class="md-form" style="margin-top: -20px">
                <select class="md-form" formControlName="categoryId" [(ngModel)]="new.categoryId"
                        id="select-genders"
                        [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }">
                  <option value="{{category.id}}" *ngFor="let category of categorys">{{category.name}}</option>
                </select>
                <div *ngIf="submitted && f.categoryId.errors" class="text-danger">
                  <div *ngIf="f.categoryId.errors.required">Vui lòng chọn thể loại</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div><label class="">Tiêu đề</label></div>
              <div class="md-form" style="margin-top: 0;">
                <input type="text" id="title" formControlName="title" [(ngModel)]="new.title" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.title.errors }" minlength="4">
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <div *ngIf="f.title.errors.required">Vui lòng nhập tiêu đề</div>
                  <div *ngIf="f.title.errors.minlength">Vui lòng nhập trên 4 ký tự</div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-4">
              <div style="margin-bottom: 2px;"><label for="description" class="">Mô tả</label></div>
              <div class="md-form" style="margin-top: 0;">
                <input type="text" id="description" formControlName="description" [(ngModel)]="new.description"
                       class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
                       minlength="8">
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">Vui lòng nhập mô tả</div>
                  <div *ngIf="f.description.errors.minlength">Vui lòng nhập trên 8 ký tự</div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-4">
              <div style="margin-bottom: 2px;"><label for="title" class="">Bài viết</label></div>
              <div class="md-form md-outline" style="margin-top: 0;">
                <editor apiKey="nx68xlinka6un8yn1nlewo78dbygkrfsijaf5uwhe3egzbm1"
                        [init]="{height: 600, plugins: 'media'}" [(ngModel)]="new.content" id="content"
                        formControlName="content" [ngClass]="{ 'is-invalid': submitted && f.content.errors }"
                        minlength="16"></editor>
                <div *ngIf="submitted && f.content.errors" class="text-danger">
                  <div *ngIf="f.content.errors.required">Vui lòng nhập nội dung</div>
                  <div *ngIf="f.content.errors.minlength">Vui lòng nhập trên 16 ký tự</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-foter text-left" style="margin-left: 40%;">
            <button type="submit" class="btn btn-outline-primary btn-sm" style="width: 140px;">Lưu lại</button>
            <button type="button" class="btn btn-outline-danger btn-sm" [routerLink]="[ '/listNews']">Trở lại</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</main>
