<app-nav></app-nav>
<main>
  <div class="container-fluid" >
    <!-- Section: Inputs -->
    <section class="section card mb-5">
      <div class="card-body">
        <!-- Section heading -->
        <h1 class="text-center my-5 h1">Thêm lịch học</h1>
        <form (ngSubmit)="onSubmit()">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
              <div class="md-form">
                <select class="mdb-select md-form" name="category" [(ngModel)]="schedule.clazzId">
                  <option value="" disabled selected>Lớp</option>
                  <option value="{{clazz.id}}" *ngFor="let clazz of clazzs">{{clazz.name}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <div class="md-form">
                <select class="mdb-select md-form" name="admin" [(ngModel)]="schedule.teacherId">
                  <option value="" disabled selected>Giáo viên</option>
                  <option value="{{teacher.id}}" *ngFor="let teacher of teachers">{{teacher.fullName}}</option>
                </select>
              </div>
            </div>



            <div class="col-md-6 mb-4">
              <div class="md-form">
                <select class="mdb-select md-form" name="admin" [(ngModel)]="schedule.subjectId">
                  <option value="" disabled selected>Môn học</option>
                  <option value="{{subject.id}}" *ngFor="let subject of subjects">{{subject.subject}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <div class="md-form">
                <select class="mdb-select md-form" name="admin" [(ngModel)]="schedule.roomId">
                  <option value="" disabled selected>Phòng học</option>
                  <option value="{{room.id}}" *ngFor="let room of rooms">{{room.name}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <div class="md-form">
                <select class="mdb-select md-form" name="admin" [(ngModel)]="schedule.employeeId">
                  <option value="" disabled selected>Nhân viên</option>
                  <option value="{{employee.id}}" *ngFor="let employee of employees">{{employee.fullName}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="md-form">
                <div class="row">
                  <div class="col-xs-12 col-12 col-md-12 form-group">
                    <input type="text" name="startYear"
                           [bsConfig]="{dateInputFormat: 'yyyy-MM-dd'}"
                           [(ngModel)]="schedule.startTime"
                           placeholder="Ngày bắt đầu"
                           class="form-control"
                           bsDatepicker ngModel
                           [(bsValue)]="startTime"
                           value="{{ startTime | date:'dd/MM/yyyy' }}">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="md-form">
                <div class="row">
                  <div class="col-xs-12 col-12 col-md-12 form-group">
                    <input type="text" name="endYear"
                           [bsConfig]="{dateInputFormat: 'yyyy-MM-dd'}"
                           [(ngModel)]="schedule.endTime"
                           placeholder="Ngày kết thúc"
                           class="form-control"
                           bsDatepicker ngModel
                           [(bsValue)]="endTime"
                           value="{{ endTime | date:'dd/MM/yyyy' }}">
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-12 mb-4">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>
                    <label class="customcheck">
                      <span class="checkmark">Chọn</span>
                    </label>
                  </th>
                  <th id="table-header">Slot</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let slot of slots | paginate: { itemsPerPage: 5, currentPage: p }">
                  <th scope="row" >
                    <!-- Material unchecked -->
                    <div class="form-check" >
                      <input class="form-check-input" type="checkbox" value="{{slot.id}}" id="{{slot.id}}" (change)="onChange($event)">
                      <label for="{{slot.id}}" class="form-check-label mr-2 label-table"></label>
                    </div>
                  </th>
                  <td>{{slot.name}}</td>
                </tr>
                </tbody>
                <!-- Table body -->
              </table>
              <pagination-controls (pageChange)="p=$event" previousLabel="" nextLabel=""></pagination-controls>
            </div>
          </div>
          <div class="card-foter text-left" style="margin-left: 360px;">
            <button type="submit" class="btn btn-outline-primary btn-sm" style="width: 140px;">Đồng ý</button>

          </div>
          <!-- Grid row -->
        </form>
      </div>
    </section>
    <!-- Section: Inputs -->

    <!-- Section: Inputs -->

    <!-- Grid row -->
  </div>
</main>
