<app-nav></app-nav>
<main>
  <div class="container-fluid">
    <!-- Section: Inputs -->
    <section class="section card mb-5">
      <div class="card-body">
        <!-- Section heading -->
        <h1 class="text-center my-5 h1">Thêm lịch học</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
              <div class="md-form">
                <select class="mdb-select md-form" formControlName="clazzId" [(ngModel)]="schedule.clazzId"
                        [ngClass]="{ 'is-invalid': submitted && f.clazzId.errors }">
                  <option value="" disabled selected>Lớp</option>
                  <option value="{{clazz.id}}" *ngFor="let clazz of clazzs">{{clazz.name}}</option>
                </select>
                <div *ngIf="submitted && f.clazzId.errors" class="text-danger">
                  <div *ngIf="f.clazzId.errors.required">Vui lòng chọn lớp</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="md-form">
                <select class="mdb-select md-form" formControlName="teacherId" [(ngModel)]="schedule.teacherId"
                        [ngClass]="{ 'is-invalid': submitted && f.teacherId.errors }">
                  <option value="" disabled selected>Giáo viên</option>
                  <option value="{{teacher.id}}" *ngFor="let teacher of teachers">{{teacher.fullName}}</option>
                </select>
                <div *ngIf="submitted && f.teacherId.errors" class="text-danger">
                  <div *ngIf="f.teacherId.errors.required">Vui lòng chọn giáo viên</div>
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <div class="md-form">
                <select class="mdb-select md-form" formControlName="dayTypeId" [(ngModel)]="schedule.dayTypeId"
                        [ngClass]="{ 'is-invalid': submitted && f.dayTypeId.errors }">
                  <option value="" disabled selected>Loại ngày</option>
                  <option value="{{dayType.id}}" *ngFor="let dayType of dayTypes">{{dayType.name}}</option>
                </select>
                <div *ngIf="submitted && f.dayTypeId.errors" class="text-danger">
                  <div *ngIf="f.dayTypeId.errors.required">Vui lòng chọn loại ngày</div>
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <div class="md-form">
                <select class="mdb-select md-form" formControlName="subjectId" [(ngModel)]="schedule.subjectId"
                        [ngClass]="{ 'is-invalid': submitted && f.subjectId.errors }">
                  <option value="" disabled selected>Môn học</option>
                  <option value="{{subject.id}}" *ngFor="let subject of subjects">{{subject.subject}}</option>
                </select>
                <div *ngIf="submitted && f.subjectId.errors" class="text-danger">
                  <div *ngIf="f.subjectId.errors.required">Vui lòng chọn môn học</div>
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <div class="md-form">
                <select class="mdb-select md-form" formControlName="roomId" [(ngModel)]="schedule.roomId"
                        [ngClass]="{ 'is-invalid': submitted && f.roomId.errors }">
                  <option value="" disabled selected>Phòng học</option>
                  <option value="{{room.id}}" *ngFor="let room of rooms">{{room.name}}</option>
                </select>
                <div *ngIf="submitted && f.roomId.errors" class="text-danger">
                  <div *ngIf="f.roomId.errors.required">Vui lòng chọn phòng học</div>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-4">
              <div class="md-form">
                <div class="row">
                  <div class="col-xs-12 col-12 col-md-12 form-group">
                    <input type="text" formControlName="startTime"
                           [bsConfig]="{dateInputFormat: 'yyyy-MM-dd'}"
                           [(ngModel)]="schedule.startTime"
                           [ngClass]="{ 'is-invalid': submitted && f.startTime.errors }"
                           placeholder="Ngày bắt đầu"
                           class="form-control"
                           bsDatepicker ngModel
                           [(bsValue)]="startTime"
                           value="{{ startTime | date:'dd/MM/yyyy' }}">
                    <div *ngIf="submitted && f.startTime.errors" class="invalid-feedback">
                      <div *ngIf="f.startTime.errors.required">Vui lòng chọn ngày bắt đầu</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-4">
              <div class="md-form">
                <div class="row">
                  <div class="col-xs-12 col-12 col-md-12 form-group">
                    <input type="text" formControlName="endTime"
                           [bsConfig]="{dateInputFormat: 'yyyy-MM-dd'}"
                           [(ngModel)]="schedule.endTime"
                           [ngClass]="{ 'is-invalid': submitted && f.endTime.errors }"
                           placeholder="Ngày kết thúc"
                           class="form-control"
                           bsDatepicker ngModel
                           [(bsValue)]="endTime"
                           value="{{ endTime | date:'dd/MM/yyyy' }}">
                    <div *ngIf="submitted && f.endTime.errors" class="invalid-feedback">
                      <div *ngIf="f.endTime.errors.required">Vui lòng chọn ngày kết thúc</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-12 mb-4">
              <div class="md-form mt-3 form-search" style="margin-left: 79%">
                <input class="form-control search-color1" type="text" placeholder="Tìm kiếm" name="search"
                       [(ngModel)]="searchText" aria-label="Search">
              </div>
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th style="width: 10%">
                    <label class="customcheck">
                    </label>
                  </th>
                  <th id="table-header" style="width: 90%">Slot</th>
                </tr>
                </thead>
                <tbody>
                <tr
                  *ngFor="let slot of slots | paginate: { itemsPerPage: 10, currentPage: p } | filter:searchText; index as i">
                  <th scope="row">
                    <!-- Material unchecked -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="{{slot.id}}" id="{{slot.id}}"
                             (change)="onChange($event)">
                      <label for="{{slot.id}}" class="form-check-label mr-2 label-table"></label>
                    </div>
                  </th>
                  <td>{{slot.name}}</td>
                </tr>
                </tbody>
                <!-- Table body -->
              </table>
              <pagination-controls (pageChange)="p=$event" previousLabel="" nextLabel=""></pagination-controls>
            </div>
          </div>
          <div class="card-foter text-left" style="margin-left: 40%;">
            <button type="submit" class="btn btn-outline-primary btn-sm" style="width: 140px;">Thêm Lịch</button>
            <button type="reset" class="btn btn-outline-danger btn-sm">Làm mới</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</main>
