<app-nav></app-nav>
<main>
  <div class="container-fluid">
    <section class="mb-5">
      <!-- Card -->
      <div class="card card-cascade narrower">
        <!-- Section: Table -->
        <section>
          <div class="card card-cascade narrower z-depth-0">
            <div
              class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center"
              style="height: 70px !important;">
              <h4>Danh sách lớp học</h4>
              <!-- Search form -->
              <div class="md-form mt-3 form-search">
                <input class="form-control search-color" type="text" placeholder="Tìm kiếm" name="search"
                       [(ngModel)]="searchText" aria-label="Search">
              </div>
              <div class="add-teacher" title="Thêm mới">
                <a href="/addClass">
                  <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i
                    class="fas fa-pencil-alt mt-0"></i></button>
                </a>
              </div>
            </div>
            <div class="px-4">
              <div class="table-responsive">
                <!--Table-->
                <table class="table table-hover mb-0">
                  <!-- Table head -->
                  <thead>
                  <tr>
                    <th class="th-lg"><b>STT</b></th>
                    <th class="th-lg"><b>Tên lớp</b></th>
                    <th class="th-lg"><b>Phòng học</b></th>
                    <th class="th-lg"><b></b></th>
                  </tr>
                  </thead>
                  <!-- Table head -->
                  <tbody>
                  <tr *ngFor="let clazz of clazzs | paginate: config | filter: searchText; index as i">
                    <td>{{config.itemsPerPage * (config.currentPage - 1) + i + 1}}</td>
                    <td><a class="blue-text" (click)="openClass(danhsachSinhvien, clazz.id)">{{clazz.name}}</a></td>
                    <td>{{clazz.roomName}}</td>
                    <td>
                      <a class="teal-text" data-toggle="tooltip" data-placement="top" title="Edit"
                         (click)="edit(clazz.id)"><i
                        class="fas fa-pencil-alt" style="margin: 10px;"></i></a>
                      <a class="red-text" data-toggle="tooltip" data-placement="top" title="Remove"
                         (click)="delete(clazz.id)"><i class="fas fa-times" style="margin: 10px;"></i></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <!-- Table -->
              </div>
              <hr class="my-0">
              <pagination-controls (pageChange)="pageChanged($event)" previousLabel=""
                                   nextLabel=""></pagination-controls>
            </div>
          </div>
        </section>
      </div>
    </section>
    <ng-template style="width: 800px;" #danhsachSinhvien let-modal>
      <div class="modal-header">
        <h4>Thông tin lớp học</h4> <br>
        <div class="md-form mt-5 form-search" style="display: block; margin-left: -40%;">
          Tìm kiếm sinh viên &nbsp;
          <input type="text" placeholder="Tìm kiếm" name="search1" [(ngModel)]="searchText1" aria-label="Search1">
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="table-responsive">
            <!--Table-->
            <table class="table table-hover mb-0">
              <!-- Table head -->
              <thead>
              <tr>
                <th class="th-sm"><b>STT</b></th>
                <th class="th-sm"><b>Họ Tên</b></th>
                <th class="th-sm"><b>Mã sinh viên</b></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let student of students | paginate: config | filter:searchText1; index as i">
                <td>{{config.itemsPerPage * (config.currentPage - 1) + i + 1}}</td>
                <td>{{student.fullName}}</td>
                <td>{{student.rollNumber}}</td>
                <td>
                  <a class="teal-text" data-toggle="tooltip" data-placement="top" title="note"
                     (click)="openModal(student.id, template)"><i
                    class="far fa-sticky-note" style="margin: 10px;"></i></a>
                  <a class="teal-text" data-toggle="tooltip" data-placement="top" title="sms"
                     (click)="openModalSMS(student.parentPhone, template2)"><i
                    class="fas fa-sms" style="margin: 10px;"></i></a>
                </td>
              </tr>
              </tbody>
              <!-- Table body -->
            </table>
            <!-- Table -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark p-2" style="margin: -8px !important;"
                (click)="modal.close('Save click')">Close
        </button>
      </div>
    </ng-template>
    <ng-template #template2 let-modal>
      <form (ngSubmit)="submit2()">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Thêm tin nhắn</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="md-form form-sm">
            <i class="far fa-sticky-note prefix"></i>
            <input type="text" id="form66" name="sms" class="form-control form-control-sm" [(ngModel)]="sms.message">
            <label for="form66">Tin nhắn :</label>
          </div>

          <div class="text-center mt-1-half">
            <button type="submit" class="btn btn-info mb-1" (click)="modal.close('Save click')">Gửi tin nhắn<i
              class="fas fa-check ml-1"></i></button>
          </div>
        </div>
      </form>
    </ng-template>
    <ng-template #template let-modal>
      <form (ngSubmit)="submit()">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Thêm ghi chú</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="md-form form-sm">
            <i class="far fa-sticky-note prefix"></i>
            <input type="text" id="form166" name="note" class="form-control form-control-sm" [(ngModel)]="note.note">
            <label for="form166">Ghi chú :</label>
          </div>
          <div class="text-center mt-1-half">
            <button type="submit" class="btn btn-info mb-1" (click)="modal.close('Save click')">Thêm ghi chú<i
              class="fas fa-check ml-1"></i></button>
          </div>
        </div>
      </form>
    </ng-template>
  </div>
</main>
