<app-nav></app-nav>
<main>
  <div class="container-fluid">
    <section class="mb-5">
      <!-- Card -->
      <div class="card card-cascade narrower">
        <!-- Section: Table -->
        <section>
          <div class="card card-cascade narrower z-depth-0">
            <div
              class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center"
              style="height: 70px !important;">
              <h4>Danh sách quản trị viên</h4>
              <!-- Search form -->
              <div class="md-form mt-3 form-search">
                <input class="form-control search-color" type="text" placeholder="Tìm kiếm" name="search" [(ngModel)]="searchText" aria-label="Search">
              </div>
              <div class="add-teacher" title="Thêm mới">
                <a href="/addAdmin">
                  <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i
                    class="fas fa-pencil-alt mt-0"></i></button>
                </a>
              </div>
            </div>
            <div class="px-4">
              <div class="table-responsive">
                <!--Table-->
                <table class="table table-hover mb-0">
                  <!-- Table head -->
                  <thead>
                  <tr>
                    <th class="th-lg"><b>STT</b></th>
                    <th class="th-lg"><b>Họ tên</b></th>
                    <th class="th-lg"><b>SĐT</b></th>
                    <th class="th-lg"><b>Địa chỉ</b></th>
                    <th class="th-lg"><b></b></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let admin of admins | paginate: config | filter: searchText ; index as i">
                    <td>{{config.itemsPerPage * (config.currentPage - 1) + i + 1}}</td>
                    <td>{{admin.fullName}}</td>
                    <td>{{admin.phone}}</td>
                    <td>{{admin.address}}</td>
                    <td>
                      <a class="blue-text" (click)="open(content, admin.id)" title="Thông tin"
                         style="margin: 10px;"><i class="fas fa-info-circle mt-0"></i></a>
                      <a class="teal-text" data-toggle="tooltip" data-placement="top" title="Sửa"
                         [routerLink]="['/editAdmin']" [queryParams]="{id: admin.id}" ><i class="fas fa-pencil-alt" style="margin: 10px;"></i></a>
                      <a class="red-text" data-toggle="tooltip" data-placement="top" title="Xóa"
                         (click)="delete(admin.id)"><i class="fas fa-times" style="margin: 10px;"></i></a>
                    </td>
                  </tr>
                  </tbody>
                  <!-- Table body -->
                </table>
                <!-- Table -->
                <pagination-controls (pageChange)="pageChanged($event)" previousLabel="" nextLabel=""></pagination-controls>
              </div>
              <hr class="my-0">
            </div>
          </div>
        </section>
        <!--Section: Table-->
      </div>
      <!-- Card -->
    </section>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Thông tin quản trị viên</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-1">
          </div>
          <div class="col-11">
            <p class="card-text"><strong>Họ tên: </strong>{{admin.fullName}}</p>
            <p class="card-text"><strong>Địa chỉ: </strong>{{admin.address}}</p>
            <p class="card-text"><strong>Ngày sinh: </strong>{{admin.dob|date:'dd/MM/yyyy'}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark p-2 m-0" style="margin: -8px !important;" (click)="modal.close('Save click')">Đóng</button>
      </div>
    </ng-template>
  </div>
</main>
