<app-nav></app-nav>
<main>
  <div class="container-fluid">
    <!-- Section: Inputs -->
    <section class="section card mb-5">
      <div class="card-body">
        <!-- Section heading -->
        <h1 class="text-center my-5 h1">Sửa lớp học</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onEdit()">
          <!-- Grid row -->
          <div class="row">
            <div class="col-md-6 mb-4">
              <div style="margin-bottom: 2px;"><label for="name" class="">Tên lớp</label></div>
              <div class="md-form" style="margin-top: 0;">
                <input type="text" id="name" formControlName="name" [(ngModel)]="class.name" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Vui lòng nhập họ tên</div>
                </div>
              </div>
            </div>
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
              <div style="margin-bottom: 2px;"><label class="">Phòng học</label></div>
              <div class="md-form" style="margin-top: -20px">
                <select class="md-form" formControlName="room_id" [(ngModel)]="class.room_id" id="select-genders"
                        [ngClass]="{ 'is-invalid': submitted && f.room_id.errors }">
                  <option *ngFor="let room of rooms" value="{{room.id}}">{{room.name}}</option>
                </select>
                <div *ngIf="submitted && f.room_id.errors" class="text-danger">
                  <div *ngIf="f.room_id.errors.required">Vui lòng chọn phòng học</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-foter text-left" style="margin-left: 40%;">
            <button type="submit" class="btn btn-outline-primary btn-sm" style="width: 140px;">Lưu lại</button>
            <button type="reset" class="btn btn-outline-danger btn-sm" style="width: 140px;"
                    [routerLink]="[ '/listClass']">Trở lại
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>
</main>
