<app-nav></app-nav>
<main>
  <div class="container-fluid">
<section class="mb-5">
  <!-- Card -->
  <div class="card card-cascade narrower">
    <!-- Section: Table -->
    <section>
      <div class="card card-cascade narrower z-depth-0">
        <div
          class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center"
          style="height: 70px !important;">
          <h4>Danh sách phòng học</h4>
          <!-- Search form -->
          <div class="md-form mt-3 form-search">
            <input class="form-control search-color" type="text" placeholder="Tìm kiếm" name="search" [(ngModel)]="searchText" aria-label="Search">
          </div>
          <div class="add-teacher" title="Thêm mới">
          </div>
        </div>
        <div class="px-4">
          <div class="table-responsive">
            <!--Table-->
            <table class="table table-hover mb-0">
              <thead>
              <tr>
                <th class="th-lg"><b>STT</b></th>
                <th class="th-lg"><b>Tên phòng học</b></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let room of rooms | paginate: config | filter: searchText; index as i">
                <td>{{config.itemsPerPage * (config.currentPage - 1) + i + 1}}</td>
                <td>{{room.name}}</td>
              </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="pageChanged($event)" previousLabel="" nextLabel=""></pagination-controls>
          </div>
          <hr class="my-0">
        </div>
      </div>
    </section>
  </div>
</section>
  </div>
</main>
