<!-- Start Header Area -->
<header id="header">
  <div class="container">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href="/homeUniversity"><img src="assets/homeUniversity/img/logo.png" alt="" title=""/></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/homeUniversity">Trang chủ</a></li>
          <li class="menu-has-children" style="color: white"><a>Tin tức</a>
            <ul>
              <li *ngFor="let category of categorys"><a [routerLink]="['/newsUniversity']" [queryParams]="{id: category.id}">{{category.name}}</a></li>
            </ul>
          </li>
          <li><a href="/about">Chúng tôi</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </div>
</header>
<!-- End Header Area -->
