<app-nav></app-nav>
<main>
  <div class="container-fluid">
    <!-- Section: Inputs -->
    <section class="section card mb-5">
      <div class="card-body">
        <!-- Section heading -->
        <h1 class="text-center my-5 h1">Sửa môn học</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onEdit()">
          <!-- Grid row -->
          <div class="row">
            <div class="col-md-6 mb-4">
              <div style="margin-bottom: 2px;"><label for="name" class="">Mã môn học</label></div>
              <div class="md-form" style="margin-top: 0;">
                <input type="text" id="code" formControlName="code" [(ngModel)]="subject.code" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.code.errors }">
                <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                  <div *ngIf="f.code.errors.required">Vui lòng nhập mã môn học</div>
                </div>
              </div>
            </div>
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
              <div style="margin-bottom: 2px;"><label for="name" class="">Tên môn học</label></div>
              <div class="md-form" style="margin-top: 0;">
                <input type="text" id="name" formControlName="subject" [(ngModel)]="subject.subject"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" minlength="4">
                <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                  <div *ngIf="f.subject.errors.required">Vui lòng nhập tên môn học</div>
                  <div *ngIf="f.subject.errors.minlength">Vui lòng nhập tên dài hơn 4 ký tự</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div style="margin-bottom: 2px;"><label for="period" class="">Số buổi</label></div>
              <div class="md-form" style="margin-top: 0;">
                <input type="number" id="period" formControlName="period" [(ngModel)]="subject.period"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.period.errors }">
                <div *ngIf="submitted && f.period.errors" class="invalid-feedback">
                  <div *ngIf="f.period.errors.required">Vui lòng nhập số buổi</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div style="margin-bottom: 2px;"><label class="">Kỳ Học</label></div>
              <div class="md-form" style="margin-top: -20px">
                <select class="md-form" formControlName="semesterId" [(ngModel)]="subject.semesterId"
                        id="select-genders"
                        [ngClass]="{ 'is-invalid': submitted && f.semesterId.errors }">
                  <option *ngFor="let semester of semesters" value="{{semester.id}}">{{semester.name}}</option>
                </select>
                <div *ngIf="submitted && f.semesterId.errors" class="text-danger">
                  <div *ngIf="f.semesterId.errors.required">Vui lòng chọn kì học</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-foter text-center">
            <button type="submit" class="btn btn-outline-primary btn-sm" style="width: 140px;">Lưu lại</button>
            <button type="button" class="btn btn-outline-danger btn-sm" style="width: 140px;"
                    [routerLink]="[ '/listSubject']">Trở lại
            </button>
          </div>
        </form>
      </div>
    </section>
    <hr class="my-5">
  </div>
</main>
