<app-nav></app-nav>
<main>
  <div class="container-fluid">
    <!-- Section: Inputs -->
    <section class="section card mb-5">
      <div class="card-body">
        <!-- Section heading -->
        <h1 class="text-center my-5 h1">Thêm môn học</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!-- Grid row -->
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="md-form">
                <input type="text" id="code" formControlName="code" class="form-control" [(ngModel)]="subject.code"
                       [ngClass]="{ 'is-invalid': submitted && f.code.errors }">
                <label for="code" class="">Mã môn học</label>
                <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                  <div *ngIf="f.code.errors.required">Vui lòng nhập mã môn học</div>
                </div>
              </div>
            </div>
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
              <div class="md-form">
                <input type="text" id="subject" formControlName="subject" class="form-control"
                       [(ngModel)]="subject.subject"
                       [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" minlength="4">
                <label for="subject" class="">Tên môn học</label>
                <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                  <div *ngIf="f.subject.errors.required">Vui lòng nhập tên môn học</div>
                  <div *ngIf="f.subject.errors.minlength">Vui lòng nhập tên dài hơn 4 ký tự</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="md-form">
                <input type="number" id="period" formControlName="period" class="form-control"
                       [(ngModel)]="subject.period"
                       [ngClass]="{ 'is-invalid': submitted && f.period.errors }">
                <label for="period" class="">Số buổi</label>
                <div *ngIf="submitted && f.period.errors" class="invalid-feedback">
                  <div *ngIf="f.period.errors.required">Vui lòng nhập số buổi</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="md-form">
                <select class="mdb-select md-form" formControlName="semesterId" [(ngModel)]="subject.semesterId"
                        [ngClass]="{ 'is-invalid': submitted && f.semesterId.errors }">
                  <option value="" disabled selected>Kì học</option>
                  <option value="{{semester.id}}" *ngFor="let semester of semesters">{{semester.name}}</option>
                </select>
                <div *ngIf="submitted && f.semesterId.errors" class="text-danger">
                  <div *ngIf="f.semesterId.errors.required">Vui lòng chọn kì học</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-foter text-center">
            <button type="submit" class="btn btn-outline-primary btn-sm" style="width: 140px;">Thêm lịch học</button>
            <button type="button" class="btn btn-outline-danger btn-sm" style="width: 140px;">Làm mới</button>
          </div>
        </form>
      </div>
    </section>
    <hr class="my-5">
  </div>
</main>
