<app-nav></app-nav>
<main>
  <div class="container-fluid" >
<section class="mb-5">
  <!-- Card -->
  <div class="card card-cascade narrower">
    <!-- Section: Table -->
    <section>
      <div class="card card-cascade narrower z-depth-0">
        <div
          class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center"
          style="height: 70px !important;">
          <h4>Danh sách sinh viên</h4>
          <div class="md-form mt-3 form-search">
            <input class="form-control search-color" type="text" name="search" autocomplete="off" placeholder="Tìm kiếm" aria-label="Search" [(ngModel)]="searchText">
          </div>
          <div class="add-teacher" title="Thêm mới">
            <a href="/addStudent">
              <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i
                class="fas fa-pencil-alt mt-0"></i></button>
            </a>
          </div>
        </div>
        <div class="px-4">
          <div class="table-responsive">
            <!--Table-->
            <table class="table table-hover mb-0">
              <!-- Table head -->
              <thead>
              <tr>
                <th class="th-lg"><b>STT</b></th>
                <th class="th-lg"><b>Họ Tên</b></th>
                <th class="th-lg"><b>SĐT</b></th>
                <th class="th-lg"><b>Mã sinh viên</b></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let student of students | paginate: config | filter:searchText; index as i">
                <td>{{config.itemsPerPage * (config.currentPage - 1) + i + 1}}</td>
                <td>{{student.fullName}}</td>
                <td>{{student.phone}}</td>
                <td>{{student.rollNumber}}</td>
                <td>
                  <a class="blue-text" (click)="open(content,student.id)" title="note"
                     style="margin: 10px;"><i class="fas fa-info-circle mt-0"></i></a>
                  <a class="teal-text" data-toggle="tooltip" data-placement="top" title="Edit"
                     [routerLink]="['/editStudent']" [queryParams]="{id: student.id}"><i class="fas fa-pencil-alt" style="margin: 10px;"></i></a>
                  <a class="teal-text" data-toggle="tooltip" data-placement="top" title="Upload-Img"
                     (click)="openModalUpdate(student.id, student.image, template3)"><i
                    class="fas fa-images" style="margin: 10px;"></i></a>
                  <a class="teal-text" data-toggle="tooltip" data-placement="top" title="note"
                     (click)="openModal(student.id, template)"><i
                    class="far fa-sticky-note" style="margin: 10px;"></i></a>
                  <a class="teal-text" data-toggle="tooltip" data-placement="top" title="sms"
                     (click)="openModalSMS(student.parentPhone, template2)"><i
                    class="fas fa-sms" style="margin: 10px;"></i></a>
                  <a class="red-text" data-toggle="tooltip" data-placement="top" title="Remove"
                     (click)="delete(student.id)"><i class="fas fa-times" style="margin: 10px;"></i></a>
                </td>
              </tr>
              </tbody>
              <!-- Table body -->
            </table>
            <!-- Table -->
            <pagination-controls (pageChange)="pageChanged($event)" previousLabel="" nextLabel=""></pagination-controls>
          </div>
          <hr class="my-0">
        </div>
      </div>
    </section>
    <!--Section: Table-->
  </div>
  <!-- Car -->
</section>
    <ng-template #template3 let-modal>
      <form (ngSubmit)="submit3()">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Thêm ảnh cho sinh viên</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div id="direct_upload" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">
            <form>
              <div class="form_line">
                <label>Image:</label>
                <div class="form_controls">
                  <div class="upload_button_holder">
                    <button class="btn btn-outline-success py-1"><label class="upload_button" for="fileupload">Upload</label></button>
                    <!-- onChange hanlder resets the input value to get the change event when uploading the same file consecutively -->
                    <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" [uploader]="uploader" (change)="fileInput.value=''"
                           multiple />
                  </div>

                </div>
              </div>
            </form>
            <div class="file" *ngFor="let response of responses; let i = index">
              <p>{{response.file.name}}</p>
            </div>
          </div>

          <div class="text-center mt-1-half">
            <button type="submit" class="btn btn-info mb-1" (click)="modal.close('Save click')">Thêm ảnh<i
              class="fas fa-check ml-1"></i></button>
          </div>
        </div>
      </form>
    </ng-template>

    <ng-template #template2 let-modal>
      <form (ngSubmit)="submit2()">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Thêm tin nhắn</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="md-form form-sm">
            <i class="far fa-sticky-note prefix"></i>
            <input type="text" id="form66" name="sms" class="form-control form-control-sm" [(ngModel)]="sms.message">
            <label for="form66">Tin nhắn :</label>
          </div>

          <div class="text-center mt-1-half">
            <button type="submit" class="btn btn-info mb-1" (click)="modal.close('Save click')">Gửi tin nhắn<i
              class="fas fa-check ml-1"></i></button>
          </div>
        </div>
      </form>
    </ng-template>
<ng-template #template let-modal>
  <form (ngSubmit)="submit()">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Thêm ghi chú</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="md-form form-sm">
      <i class="far fa-sticky-note prefix"></i>
      <input type="text" id="form166" name="note" class="form-control form-control-sm" [(ngModel)]="note.note">
      <label for="form166">Ghi chú :</label>
    </div>

    <div class="text-center mt-1-half">
      <button type="submit" class="btn btn-info mb-1" (click)="modal.close('Save click')">Thêm ghi chú<i class="fas fa-check ml-1"></i></button>
    </div>
  </div>
  </form>
</ng-template>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Thông tin sinh viên</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-4 text-center">
        <img src="{{student.image}}" alt="Michal Szymanski - founder of Material Design for Bootstrap"
             class="img-fluid z-depth-1-half rounded-circle">
        <div style="height: 10px"></div>
        <p class="title mb-0">{{student.fullName}}</p>
        <p class="text-muted " style="font-size: 13px">{{student.rollNumber}}</p>
      </div>

      <div class="col-8">
        <p class="card-text"><strong>Địa chỉ: </strong>{{student.address}}</p>
        <p class="card-text"><strong>Giới tính: </strong>{{displayGender(student.gender)}}</p>
        <p class="card-text"><strong>SĐT phụ huynh: </strong>{{student.parentPhone}}</p>
        <p class="card-text"><strong>Thời gian: </strong>{{student.startYear | date:'dd/MM/yyyy'}} - {{student.endYear | date:'dd/MM/yyyy'}}</p>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark p-2" (click)="modal.close('Save click')">Đóng</button>
  </div>
</ng-template>
<!-- Modal Form Login with Avatar Demo -->
  </div>
</main>





