/* Your custom styles */
* {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

.image > span {
  font-size: 13px;
}

.form-search {
  display: inline-block;
  margin-right: -50%;
}

.search-color {
  color: #fff !important;
}

.add-teacher {
  display: inline-block;
}

.form-search input::placeholder {
  color: #ffffff;
}

#select-genders {
  display: block !important;
  width: 100%;
  height: 40px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}
