<app-nav></app-nav>
<main>
  <div class="container-fluid">
    <section class="mb-5">
      <!-- Card -->
      <div class="card card-cascade narrower">
        <!-- Section: Table -->
        <section>
          <div class="card card-cascade narrower z-depth-0">
            <div
              class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center"
              style="height: 70px !important;">
              <h4>Danh sách bài viết</h4>
              <div class="md-form mt-3 form-search">
                <input class="form-control search-color" type="text" placeholder="Tìm kiếm" name="search"
                       [(ngModel)]="searchText" aria-label="Search">
              </div>
              <div class="add-teacher" title="Thêm mới">
                <a href="/addNews">
                  <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i
                    class="fas fa-pencil-alt mt-0"></i></button>
                </a>
              </div>
            </div>
            <div class="px-4">
              <div class="table-responsive">
                <!--Table-->
                <table class="table table-hover mb-0">
                  <!-- Table head -->
                  <thead>
                  <tr>
                    <th class="th-lg"><b>STT</b></th>
                    <th class="th-lg"><b>Tiêu đề</b></th>
                    <th class="th-lg"><b>Mô tả</b></th>
                    <th class="th-lg"><b>Nội dung</b></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let new of news | paginate: config | filter: searchText; index as i">
                    <td>{{config.itemsPerPage * (config.currentPage - 1) + i + 1}}</td>
                    <td>{{new.title}}</td>
                    <td><span [innerHTML]="new.description | slice:0:20"></span><span>...</span></td>
                    <td><p class="contentP" [innerHTML]="new.content"></p></td>
                    <td>
                      <a class="blue-text" (click)="open(content,new.id)" title="See results"
                         style="margin: 10px;"><i class="fas fa-info-circle mt-0"></i></a>
                      <a class="teal-text" data-toggle="tooltip" data-placement="top" [routerLink]="['/editNews']"
                         [queryParams]="{id: new.id}"><i
                        class="fas fa-pencil-alt" style="margin: 10px;"></i></a>
                      <a class="red-text" data-toggle="tooltip" data-placement="top" title="Remove"
                         (click)="delete(new.id)"><i class="fas fa-times" style="margin: 10px;"></i></a>
                    </td>
                  </tr>
                  </tbody>
                  <!-- Table body -->
                </table>
                <!-- Table -->
                <pagination-controls (pageChange)="pageChanged($event)" previousLabel=""
                                     nextLabel=""></pagination-controls>
              </div>
              <hr class="my-0">
            </div>
          </div>
        </section>
        <!--Section: Table-->
      </div>
      <!-- Car -->
    </section>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Thông tin bài viết</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <p class="card-text"><strong>Tiêu đề: </strong>{{new.title}}</p>
            <p class="card-text"><strong>Mô tả: </strong>{{new.description}}</p>
            <p class="card-text" [innerHTML]="new.content"><strong>Nội dung: </strong></p>
            <p class="card-text"><strong>Thể loại: </strong>{{new.categoryName}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark p-2" (click)="modal.close('Save click')">Thoát</button>
      </div>
    </ng-template>
    <!-- Modal Form Login with Avatar Demo -->
  </div>
</main>




