<!-- Grid column -->
<div class="col-md-12 mb-4">
  <!-- Modal: Contact form -->

  <div class="modal-dialog cascading-modal" role="document">
    <!-- Content -->
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="" style="margin-left: 150px;">Đăng nhập</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <!-- Body -->
      <form (ngSubmit)="submit()">
        <div class="modal-body mb-0">

          <div class="md-form form-sm">
            <i class="fas fa-user prefix"></i>
            <input type="text" id="form8" class="form-control form-control-sm" id="username" name="username" [(ngModel)]="login.username">
            <label for="username">Tài khoản</label>
          </div>

          <div class="md-form form-sm">
            <i class="fas fa-lock prefix"></i>
            <input type="password" id="form12" class="form-control form-control"  id="password" name="password" [(ngModel)]="login.password">
            <label for="password">Mật khẩu</label>
          </div>

          <div class="text-center mt-1-half">
            <button type="submit" class="btn btn-info mb-2">Đăng nhập</button>
          </div>

        </div>
      </form>
    </div>
    <!-- Content -->
  </div>
  <!-- Modal: Contact form -->


</div>
<!-- Grid column -->
