<body>
<app-nav2></app-nav2>
<!-- Start Banner Area -->
<section class="home-banner-area relative">
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-center">
      <div class="banner-content col-lg-8 col-md-12">
        <h1 class="wow fadeIn" data-wow-duration="4s">Tiếp nối đam mê<br>Tràn trề học bổng</h1>

        <div class="input-wrap">
          <form action="" class="form-box d-flex justify-content-between">
            <input type="text" placeholder="Bạn muốn tìm gì" class="form-control" name="username">
            <button type="submit" class="btn search-btn">Tìm kiếm</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="rocket-img">
    <img src="assets/homeUniversity/img/rocket.png" alt="">
  </div>
</section>
<!-- End Banner Area -->


<!-- Start About Area -->
<section class="about-area section-gap">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-5 col-md-6 about-left">
        <img class="img-fluid" src="assets/homeUniversity/img/about.jpg" alt="">
      </div>
      <div class="offset-lg-1 col-lg-6 offset-md-0 col-md-12 about-right">
        <h1>
          TẠI SAO CHỌN FPT APTECH?
        </h1>
        <div class="wow fadeIn" data-wow-duration="1s">
          <p>
            FPT-Aptech là đơn vị sáng lập Aptech tại Việt Nam và là một trong những hệ thống đào tạo lập trình viên quốc
            tế đầu tiên và lâu đời nhất kể từ năm 1999. Với bề dày kinh nghiệm 20 năm đào tạo CNTT, FPT-Aptech đã có hơn
            20,000 sinh viên tốt nghiệp, đã và đang công tác tại nhiều công ty phần mềm lớn trong và ngoài nước. Đến nay
            FPT-Aptech vẫn luôn là đơn vị tiên phong trong lĩnh vực đào tạo và CNTT và là sự lựa chọn học tập số 1 của
            rất nhiều các bạn trẻ mong muốn làm việc trong lĩnh vực CNTT.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->

<!--Start Feature Area -->
<section class="feature-area">
  <div class="container">
    <div class="feature-inner row">
      <div class="col-lg-4 col-md-6">
        <div class="feature-item">
          <i class="ti-crown"></i>
          <h4>Mục tiêu đào tạo</h4>
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
            <p>
              Sinh viên không chỉ được trang bị đầy đủ kiến thức chuyên môn mà cả kỹ năng mềm.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="feature-item">
          <i class="ti-briefcase"></i>
          <h4>Đào tạo thực tiễn</h4>
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
            <p>
              Chương trình đào tạo luôn được cập nhật theo chương trình chuẩn của Aptech Ấn Độ.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="feature-item">
          <i class="ti-medall-alt"></i>
          <h4>Giới thiệu việc làm</h4>
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
            <p>FPT Aptech có Ban giới thiệu việc làm chuyên trách thường xuyên liên lạc với các công ty
              trong và ngoài nước.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="feature-item">
          <i class="ti-key"></i>
          <h4>Giá trị quốc tế</h4>
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
            <p>
              Bằng Tốt Nghiệp Higher Diploma do Aptech Worldwide cấp có giá trị toàn cầu
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="feature-item">
          <i class="ti-files"></i>
          <h4>SINH VIÊN TIÊU BIỂU</h4>
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
            <p>
              Bên cạnh những thủ lĩnh tài ba thì không thể thiếu sự góp mặt của các bậc tiền bối đi trước.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="feature-item">
          <i class="ti-headphone-alt"></i>
          <h4>Giảng viên nhiệt tình</h4>
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
            <p>
              Với đội ngũ giảng viên bậc nhất cả nước, và luôn giúp đỡ học sinh tận tình trong học tập.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Feature Area -->

<!-- Start Courses Area -->
<section class="courses-area section-gap">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 about-right">
        <h1>
          Wohhhhh!
        </h1>
        <div class="wow fadeIn" data-wow-duration="1s">
          <p>
            TỪ ĐÂY BẠN CÓ THỂ TRỞ THÀNH
            CHIẾN BINH DŨNG MÃNH VỚI CÁC DANH HIỆU
          </p>
        </div>
      </div>
      <div class="offset-lg-1 col-lg-6">
        <div class="courses-right">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <ul class="courses-list">
                <li>
                  <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".1s">
                    <i class="fa fa-book"></i> Lập trình viên cao cấp (chuyên gia lập trình)
                  </a>
                </li>
                <li>
                  <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".3s">
                    <i class="fa fa-book"></i> Lập trình viên đa năng (front-end, back-end, database,...)
                  </a>
                </li>
                <li>
                  <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".5s">
                    <i class="fa fa-book"></i> Người quản trị dự án CNTT
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <ul class="courses-list">
                <li>
                  <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".7s">
                    <i class="fa fa-book"></i> Nhà nghiên cứu khoa học máy tính
                  </a>
                </li>
                <li>
                  <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay=".9s">
                    <i class="fa fa-book"></i> Nhà nghiên cứu khoa học máy tính
                  </a>
                </li>
                <li>
                  <a class="wow fadeInLeft" href="courses.html" data-wow-duration="1s" data-wow-delay="1.1s">
                    <i class="fa fa-book"></i> Leader của team No Hope
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<!-- ####################### Start Scroll to Top Area ####################### -->
<div id="back-top">
  <a title="Go to Top" href="#"></a>
</div>
