<app-nav></app-nav>
<main>
  <div class="container-fluid">
    <section class="mb-5">
      <!-- Card -->
      <div class="card card-cascade narrower">
        <!-- Section: Table -->
        <section>
          <div class="card card-cascade narrower z-depth-0">
            <div
              class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center"
              style="height: 70px !important;">
              <h4>Danh sách môn học</h4>
              <!-- Search form -->
              <div class="md-form mt-3 form-search">
                <input class="form-control search-color" type="text" name="search" [(ngModel)]="searchText"
                       placeholder="Tìm kiếm" aria-label="Search">
              </div>
              <div class="add-teacher" title="Thêm mới">
                <a href="/addSubject">
                  <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i
                    class="fas fa-pencil-alt mt-0"></i></button>
                </a>
              </div>
            </div>
            <div class="px-4">
              <div class="table-responsive">
                <!--Table-->
                <table class="table table-hover mb-0">
                  <!-- Table head -->
                  <thead>
                  <tr>
                    <th class="th-lg"><b>STT</b></th>
                    <th class="th-lg"><b>Mã môn học</b></th>
                    <th class="th-lg"><b>Tên môn học</b></th>
                    <th class="th-lg"><b>Số buổi học</b></th>
                    <th class="th-lg"><b></b></th>
                  </tr>
                  </thead>
                  <!-- Table head -->
                  <tbody>
                  <tr *ngFor="let subject of subjects | paginate: config | filter:searchText; index as i">
                    <td>{{config.itemsPerPage * (config.currentPage - 1) + i + 1}}</td>
                    <td>{{subject.code}}</td>
                    <td>{{subject.subject}}</td>
                    <td>{{subject.period}}</td>
                    <td>
                      <a class="blue-text" (click)="open(content, subject.id)" title="See results"
                         style="margin: 10px;"><i class="fas fa-info-circle mt-0"></i></a>
                      <a class="teal-text" data-toggle="tooltip" data-placement="top" title="Edit"
                         [routerLink]="['/editSubject']" [queryParams]="{id: subject.id}"><i
                        class="fas fa-pencil-alt" style="margin: 10px;"></i></a>
                      <a class="red-text" data-toggle="tooltip" data-placement="top" title="Remove"
                         (click)="delete(subject.id)"><i class="fas fa-times" style="margin: 10px;"></i></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <!-- Table -->
              </div>
              <hr class="my-0">
              <pagination-controls (pageChange)="pageChanged($event)" previousLabel=""
                                   nextLabel=""></pagination-controls>
            </div>
          </div>
        </section>
        <!--Section: Table-->
      </div>
      <!-- Card -->
    </section>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Thông tin môn học</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3 text-center">
            <img src="http://daihoc.fpt.edu.vn/media/2018/07/1-9-910x683.jpg" alt="Michal"
                 class="img-fluid z-depth-1-half rounded-circle">
            <div style="height: 10px"></div>
          </div>
          <div class="col-9">
            <p class="title mb-0"><strong>Mã môn: </strong>{{subject.code}}</p>
            <p class="title mb-0"><strong>Tên môn học: </strong>{{subject.subject}}</p>
            <p class="title mb-0"><strong>Số buổi học: </strong>{{subject.period}}</p>
            <p class="title mb-0"><strong>Kỳ học: </strong>{{subject.nameSemester}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark p-2" style="margin: -8px !important;"
                (click)="modal.close('Save click')">Close
        </button>
      </div>
    </ng-template>
  </div>
</main>
