<app-nav></app-nav>
<main>
  <div class="container-fluid">
    <!-- Section: Inputs -->
    <section class="section card mb-5">
      <div class="card-body">
        <!-- Section heading -->
        <h1 class="text-center my-5 h1">Thêm sinh viên vào lớp học</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
              <div class="md-form">
                <select class="mdb-select md-form" formControlName="room_id" [(ngModel)]="class.id"
                        [ngClass]="{ 'is-invalid': submitted && f.room_id.errors }">
                  <option value="" disabled selected>Lớp học</option>
                  <option value="{{class.id}}" *ngFor="let class of clazzs">{{class.name}}</option>
                </select>
                <div *ngIf="submitted && f.room_id.errors" class="text-danger">
                  <div *ngIf="f.room_id.errors.required">Vui lòng chọn phòng học</div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-4">
              <div class="md-form mt-3 form-search" style="margin-left: 79%">
                <input class="form-control search-color1" type="text" placeholder="Tìm kiếm" name="search"
                       [(ngModel)]="searchText" aria-label="Search">
              </div>
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th style="width: 10%">
                    <label class="customcheck">
                      <!--                  <span class="checkmark">Chọn</span>-->
                    </label>
                  </th>
                  <th id="table-header" style="width: 30%">Họ tên</th>
                  <th id="table-header2" style="width: 30%">Số điện thoại</th>
                  <th id="table-header3" style="width: 30%">Mã sinh viên</th>
                </tr>
                </thead>
                <tbody>
                <tr
                  *ngFor="let student of students | paginate: { itemsPerPage: 10, currentPage: p } | filter:searchText; index as i">
                  <th scope="row">
                    <!-- Material unchecked -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="{{student.id}}" id="{{student.id}}"
                             (change)="onChange($event)">
                      <label for="{{student.id}}" class="form-check-label mr-2 label-table"></label>
                    </div>
                  </th>
                  <td>{{student.fullName}}</td>
                  <td>{{student.phone}}</td>
                  <td>{{student.rollNumber}}</td>
                </tr>
                </tbody>
                <!-- Table body -->
              </table>
              <pagination-controls (pageChange)="p=$event" previousLabel="" nextLabel=""></pagination-controls>
            </div>
          </div>
          <div class="card-foter text-left" style="margin-left: 40%;">
            <button type="submit" class="btn btn-outline-primary btn-sm" style="width: 140px;">Lưu lại</button>
            <button type="button" class="btn btn-outline-danger btn-sm" [routerLink]="[ '/listClass']">Trở lại</button>
          </div>
          <!-- Grid row -->
        </form>
      </div>
    </section>
  </div>
</main>
