<app-nav></app-nav>
<main>
  <div class="container-fluid" >
<!-- Section: Inputs -->
<section class="section card mb-5">
  <div class="card-body">
    <!-- Section heading -->
    <h1 class="text-center my-5 h1">Thêm sinh viên vào lớp học</h1>
    <form (ngSubmit)="onSubmit()">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mb-4">
          <div class="md-form">
            <select class="mdb-select md-form" name="catagory" [(ngModel)]="class.id">
              <option value="" disabled selected>Lớp học</option>
              <option value="{{class.id}}" *ngFor="let class of clazzs">{{class.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-12 mb-4">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>
                <label class="customcheck">
                  <span class="checkmark">Chọn</span>
                </label>
              </th>
              <th id="table-header">Slot</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let slot of slots | paginate: { itemsPerPage: 5, currentPage: p }">
              <th scope="row" >
                <!-- Material unchecked -->
                <div class="form-check" >
                  <input class="form-check-input" type="checkbox" value="{{slot.id}}" id="{{slot.id}}" (change)="onChange($event)">
                  <label for="{{slot.id}}" class="form-check-label mr-2 label-table"></label>
                </div>
              </th>
              <td>{{slot.name}}</td>
            </tr>
            </tbody>
            <!-- Table body -->
          </table>
          <pagination-controls (pageChange)="p=$event" previousLabel="" nextLabel=""></pagination-controls>
        </div>
      </div>
      <div class="card-foter text-left" style="margin-left: 40%;">
        <button type="submit" class="btn btn-outline-primary btn-sm" style="width: 140px;">Lưu lại</button>
        <button type="button" class="btn btn-outline-danger btn-sm" [routerLink]="[ '/listClass']">Trở lại</button>
      </div>
    </form>
  </div>
</section>
  </div>
</main>
