<app-nav></app-nav>
<main>
  <div class="container-fluid">
    <!-- Section: Inputs -->
    <section class="section card mb-5">
      <div class="card-body">
        <!-- Section heading -->
        <h1 class="text-center my-5 h1">Sửa thông tin sinh viên</h1>

        <form [formGroup]="registerForm" (ngSubmit)="submit()">
          <!-- Grid row -->
          <div class="row">
            <div class="col-md-6 mb-4">
              <div style="margin-bottom: 2px;"><label for="fullName" class="">Họ tên</label></div>
              <div class="md-form" style="margin-top: 0;">
                <input type="text" id="fullName" formControlName="fullName" [(ngModel)]="student.fullName"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
                <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                  <div *ngIf="f.fullName.errors.required">Vui lòng nhập họ tên</div>
                </div>
              </div>
            </div>
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
              <div style="margin-bottom: 2px;"><label for="phone" class="">SĐT</label></div>
              <div class="md-form" style="margin-top: 0;">
                <input type="text" id="phone" formControlName="phone" [(ngModel)]="student.phone" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" minlength="10" maxlength="10">
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                  <div *ngIf="f.phone.errors.required">Vui lòng nhập số điện thoại</div>
                  <div *ngIf="f.phone.errors.minlength">Vui lòng nhập 10 số</div>
                  <div *ngIf="f.phone.errors.maxlength">Vui lòng nhập 10 số</div>
                </div>
              </div>
            </div>
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
              <div style="margin-bottom: 2px;"><label for="parentPhone" class="">SĐT phụ huynh</label></div>
              <div class="md-form" style="margin-top: 0;">
                <input type="text" id="parentPhone" formControlName="parentPhone" [(ngModel)]="student.parentPhone"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.parentPhone.errors }" minlength="10" maxlength="10">
                <div *ngIf="submitted && f.parentPhone.errors" class="invalid-feedback">
                  <div *ngIf="f.parentPhone.errors.required">Vui lòng nhập số điện thoại</div>
                  <div *ngIf="f.parentPhone.errors.minlength">Vui lòng nhập 10 số</div>
                  <div *ngIf="f.parentPhone.errors.maxlength">Vui lòng nhập 10 số</div>
                </div>
              </div>
            </div>
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
              <div style="margin-bottom: 2px;"><label for="address" class="">Địa chỉ</label></div>
              <div class="md-form" style="margin-top: 0;">
                <input type="text" id="address" formControlName="address" [(ngModel)]="student.address"
                       class="form-control" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                  <div *ngIf="f.address.errors.required">Vui lòng nhập địa chỉ</div>
                </div>
              </div>
            </div>
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
              <div style="margin-bottom: 2px;"><label for="" class="">Ngày sinh</label></div>
              <div class="md-form" style="margin-top: 0;">
                <input type="text" formControlName="dob"
                       [bsConfig]="{dateInputFormat: 'yyyy-MM-dd'}"
                       [(ngModel)]="student.dob"
                       [ngClass]="{ 'is-invalid': submitted && f.dob.errors }"
                       placeholder=""
                       class="form-control"
                       bsDatepicker ngModel
                       [(bsValue)]="newVar"
                       value="{{ newVar | date:'dd/MM/yyyy' }}">
                <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                  <div *ngIf="f.dob.errors.required">Vui lòng chọn ngày sinh</div>
                </div>
              </div>
            </div>
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
              <div style="margin-bottom: 2px;"><label for="idCard" class="">CMND</label></div>
              <div class="md-form" style="margin-top: 0;">
                <input type="text" id="idCard" formControlName="idCard" [(ngModel)]="student.idCard"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.idCard.errors }" minlength="12"
                       maxlength="12">
                <div *ngIf="submitted && f.idCard.errors" class="invalid-feedback">
                  <div *ngIf="f.idCard.errors.required">Vui lòng nhập CMND</div>
                  <div *ngIf="f.idCard.errors.minlength">Vui lòng nhập 12 số</div>
                  <div *ngIf="f.idCard.errors.maxlength">Vui lòng nhập 12 số</div>
                </div>
              </div>
            </div>
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
              <div><label for="idCard" class="">Giới tính</label></div>
              <div class="md-form" style="margin-top: -20px">
                <select class="md-form" formControlName="gender" [(ngModel)]="student.gender" id="select-genders"
                        [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                  <option *ngFor="let v of listOptions" [value]="v.id">{{v.name}}</option>
                </select>
                <div *ngIf="submitted && f.gender.errors" class="text-danger">
                  <div *ngIf="f.gender.errors.required">Vui lòng chọn giới tính</div>
                </div>
              </div>
            </div>

            <div class="col-md-3 mb-4">
              <div style="margin-bottom: 2px;"><label class="">Ngày bắt đầu</label></div>
              <div class="md-form" style="margin-top: 0;">
                <input type="text" formControlName="startYear"
                       [bsConfig]="{dateInputFormat: 'yyyy-MM-dd'}"
                       [(ngModel)]="student.startYear"
                       [ngClass]="{ 'is-invalid': submitted && f.startYear.errors }"
                       placeholder=""
                       class="form-control"
                       bsDatepicker ngModel
                       [(bsValue)]="start_year"
                       value="{{ start_year | date:'dd/MM/yyyy' }}">
                <div *ngIf="submitted && f.startYear.errors" class="invalid-feedback">
                  <div *ngIf="f.startYear.errors.required">Vui lòng chọn ngày sinh</div>
                </div>
              </div>
            </div>

            <div class="col-md-3 mb-4">
              <div style="margin-bottom: 2px;"><label class="">Ngày kết thúc</label></div>
              <div class="md-form" style="margin-top: 0;">
                <input type="text" formControlName="endYear"
                       [bsConfig]="{dateInputFormat: 'yyyy-MM-dd'}"
                       [(ngModel)]="student.endYear"
                       [ngClass]="{ 'is-invalid': submitted && f.endYear.errors }"
                       placeholder=""
                       class="form-control"
                       bsDatepicker ngModel
                       [(bsValue)]="end_year"
                       value="{{ end_year | date:'dd/MM/yyyy' }}">
                <div *ngIf="submitted && f.startYear.errors" class="invalid-feedback">
                  <div *ngIf="f.startYear.errors.required">Vui lòng chọn ngày sinh</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-foter text-center">
            <button type="submit" class="btn btn-outline-primary btn-sm" style="width: 140px;">Lưu lại</button>
            <a href="/listStudent">
              <button type="button" class="btn btn-outline-danger btn-sm" style="width: 140px;">Trở lại</button>
            </a>
          </div>
          <!-- Grid row -->
        </form>
      </div>
    </section>
    <!-- Section: Inputs -->
    <hr class="my-5">
  </div>
</main>


