<app-nav></app-nav>
<main>
  <div class="container-fluid" >
    <!-- Section: Inputs -->
    <section class="section card mb-5">
      <div class="card-body">
        <!-- Section heading -->
        <h1 class="text-center my-5 h1">Thêm mới quản trị viên</h1>
        <form [formGroup]="registerForm" (ngSubmit)="submit()">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
              <div class="md-form">
                <input type="text" id="fullName" formControlName="fullName" [(ngModel)]="admin.fullName" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
                <label class="">Họ tên</label>
                <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                  <div *ngIf="f.fullName.errors.required">Vui lòng nhập họ tên</div>
                </div>
              </div>
            </div>
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
              <div class="md-form">
                <input type="text" id="phone" formControlName="phone" [(ngModel)]="admin.phone" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" minlength="10" maxlength="10">
                <label for="phone" class="">SĐT</label>
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                  <div *ngIf="f.phone.errors.required">Vui lòng nhập số điện thoại</div>
                  <div *ngIf="f.phone.errors.minlength">Vui lòng nhập 10 số</div>
                  <div *ngIf="f.phone.errors.maxlength">Vui lòng nhập 10 số</div>
                </div>
              </div>
            </div>
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
              <div class="md-form">
                <input type="text" formControlName="dob"
                       [bsConfig]="{dateInputFormat: 'yyyy-MM-dd'}"
                       [(ngModel)]="admin.dob"
                       [ngClass]="{ 'is-invalid': submitted && f.dob.errors }"
                       placeholder="Ngày sinh"
                       class="form-control"
                       bsDatepicker ngModel
                       [(bsValue)]="newVar"
                       value="{{ newVar | date:'dd/MM/yyyy' }}">
                <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                  <div *ngIf="f.dob.errors.required">Vui lòng chọn ngày sinh</div>
                </div>
              </div>
            </div>

            <!-- Grid column -->
            <div class="col-md-6 mb-4">
              <div class="md-form">
                <input type="text" id="address" formControlName="address" [(ngModel)]="admin.address" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                <label for="address" class="">Địa chỉ</label>
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                  <div *ngIf="f.address.errors.required">Vui lòng nhập địa chỉ</div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-foter text-left" style="margin-left: 40%;">
            <button type="submit" class="btn btn-outline-primary btn-sm" style="width: 140px;">Lưu lại</button>
            <button type="reset" class="btn btn-outline-danger btn-sm" style="width: 140px;">Làm mới</button>
          </div>
          <!-- Grid row -->
        </form>
      </div>

    </section>
    <!-- Section: Inputs -->
    <hr class="my-5">
  </div>
</main>
