<app-nav></app-nav>
<main>
  <div class="container-fluid">
    <!-- Section: Inputs -->
    <section class="section card mb-5">
      <div class="card-body">
        <!-- Section heading -->
        <h1 class="text-center my-5 h1">Thêm lớp học</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!-- Grid row -->
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="md-form">
                <input type="text" id="name" formControlName="name" [(ngModel)]="class.name" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <label for="name" class="">Tên lớp</label>
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Vui lòng nhập họ tên</div>
                </div>
              </div>
            </div>
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
              <div class="md-form">
                <select class="mdb-select" id="room_id" formControlName="room_id" [(ngModel)]="class.room_id"
                        [ngClass]="{ 'is-invalid': submitted && f.room_id.errors }">
                  <option value="" disabled selected>Phòng học</option>
                  <option value="{{room.id}}" *ngFor="let room of rooms">{{room.name}}</option>
                </select>
                <div *ngIf="submitted && f.room_id.errors" class="text-danger">
                  <div *ngIf="f.room_id.errors.required">Vui lòng chọn phòng học</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-foter text-left" style="margin-left: 40%;">
            <button type="submit" class="btn btn-outline-primary btn-sm" style="width: 140px;">Lưu lại</button>
            <button type="reset" class="btn btn-outline-danger btn-sm">Làm mới</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</main>
