<body>
<app-nav2></app-nav2>
<section class="banner-area relative">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Tin tức
        </h1>
        <p>FPT-APTECH - thương hiệu duy nhất trong hệ thống APTECH trực thuộc ĐẠI HỌC FPT và TẬP ĐOÀN FPT.</p>
      </div>
    </div>
  </div>
  <div class="rocket-img">
    <img src="assets/homeUniversity/img/rocket.png" alt="">
  </div>
</section>
<div style="height: 70px;"></div>
<section class="post-content-area">
  <div class="container">
    <div class="row" *ngFor="let new of news | paginate: config">
      <div class="col-lg-12 posts-list">
        <div class="single-post row">
          <div class="col-lg-3  col-md-3 meta-details">
            <div class="user-details row">
              <p class="view col-lg-12 col-md-12 col-6"><a href="#">1.2k Views</a> <span class="lnr lnr-eye"></span></p>
              <p class="comments col-lg-12 col-md-12 col-6"><a href="#">06 Comments</a> <span
                class="lnr lnr-bubble"></span></p>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 ">
            <a class="posts-title"><h3>{{new.title}}</h3></a>
            <a class="posts-title"><h5>{{new.description}}</h5></a>
            <div class="excert" [innerHTML] = "sanitizer.bypassSecurityTrustHtml(new.content)"></div>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <pagination-controls (pageChange)="pageChanged($event)" previousLabel="" nextLabel=""></pagination-controls>
  </div>
</section>
<app-footer></app-footer>
<div id="back-top">
  <a title="Go to Top" href="#"></a>
</div>
