<app-nav></app-nav>
<main>
  <div class="container-fluid">
    <section class="mb-5">
      <!-- Card -->
      <div class="card card-cascade narrower">
        <!-- Section: Table -->
        <section>
          <div class="card card-cascade narrower z-depth-0">
            <div
              class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center"
              style="height: 70px !important;">
              <h4>Danh sách điểm danh</h4>
              <!-- Search form -->
              <div class="md-form mt-3 form-search">
                <input class="form-control search-color" type="text" placeholder="Tìm kiếm" name="searh"
                       [(ngModel)]="searchText" aria-label="Search">
              </div>
              <div class="add-teacher" title="Thêm mới">
              </div>
            </div>
            <div class="px-4">
              <div class="table-responsive">
                <!--Table-->
                <table class="table table-hover mb-0">
                  <!-- Table head -->
                  <thead>
                  <tr>
                    <th class="th-lg2"><b>STT</b></th>
                    <th class="th-lg2"><b>Sinh viên</b></th>
                    <th class="th-lg"><b>Điểm danh</b></th>
                  </tr>
                  </thead>
                  <!-- Table head -->
                  <!-- Table body -->

                  <tbody>
                  <tr *ngFor="let attendent of attendents | paginate: config | filter: searchText; index as i ">
                    <td>{{config.itemsPerPage * (config.currentPage - 1) + i + 1}}</td>
                    <td>{{attendent.studentName}}</td>
                    <td>
                      <div class="switch" *ngIf="attendent.status === 'Attended'">
                        <label>
                          Nghỉ học
                          <input type="checkbox" name="active" checked>
                          <span class="lever"></span> Đi học
                        </label>
                      </div>
                      <div class="switch" *ngIf="attendent.status === 'Absent'">
                        <label>
                          Nghỉ học
                          <input type="checkbox" name="active" (change)="onChange($event,attendent.id)">
                          <span class="lever"></span> Đi học
                        </label>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <pagination-controls (pageChange)="pageChanged($event)" previousLabel=""
                                     nextLabel=""></pagination-controls>
              </div>
              <hr class="my-0">
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
</main>
