<header>
  <!-- Sidebar navigation -->
  <div [collapse]="!isCollapsedT" [isAnimated]="false" class="side-nav sn-bg-4 fixed">
    <ul class="custom-scrollbar">
      <!-- Logo -->
      <li class="logo-sn waves-effect py-3">
        <div class="text-center">
          <a (click)="isCollapsedT = !isCollapsedT" class="pl-0"><img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"></a>
        </div>
      </li>
      <!-- Search Form -->
      <li>
        <form class="search-form" role="search">
          <div class="md-form mt-0 waves-light">
            <!--            <input type="text" class="form-control py-2" placeholder="Search">-->
          </div>
        </form>
      </li>
      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect arrow-r" href="/">
              <i class="w-fa fas fa-tachometer-alt"></i>Trang chủ
            </a>
          </li>
          <li *ngIf="role=='Admin'">
            <a class="collapsible-header waves-effect arrow-r" (click)="openAdmin()">
              <i class="w-fa fas fa-user"></i>Quản lí quản trị viên<i class="fas fa-angle-down rotate-icon"></i>
            </a>
            <div class="collapsible-body" [collapse]="!isCollapsed7" [isAnimated]="true">
              <ul>
                <li>
                  <a (click)="changeListAdmin()" class="waves-effect">Danh sách quản trị viên</a>
                </li>
                <li>
                  <a href="/addAdmin" class="waves-effect">Thêm quản trị viên</a>
                </li>
              </ul>
            </div>
          </li>
          <li *ngIf="role=='Admin'">
            <a class="collapsible-header waves-effect arrow-r" (click)="openEmployee()">
              <i class="w-fa fas fa-user"></i>Quản lí nhân viên<i class="fas fa-angle-down rotate-icon"></i>
            </a>
            <div class="collapsible-body" [collapse]="!isCollapsed8" [isAnimated]="true">
              <ul>
                <li>
                  <a (click)="changeListEmployee()" class="waves-effect">Danh sách nhân viên</a>
                </li>
                <li>
                  <a href="/addEmployee" class="waves-effect">Thêm nhân viên</a>
                </li>
              </ul>
            </div>
          </li>
          <li *ngIf="role=='Manager' || role=='Admin'">
            <a class="collapsible-header waves-effect arrow-r" (click)="openTeacher()">
              <i class="w-fa fas fa-user"></i>Quản lí giáo viên<i class="fas fa-angle-down rotate-icon"></i>
            </a>
            <div class="collapsible-body" [collapse]="!isCollapsed" [isAnimated]="true">
              <ul>
                <li>
                  <a (click)="changeListTeacher()" class="waves-effect">Danh sách giáo viên</a>
                </li>
                <li>
                  <a href="/addTeacher" class="waves-effect">Thêm giáo viên</a>
                </li>
              </ul>
            </div>
          </li>
          <li *ngIf="role=='Manager' || role=='Admin'">
            <a class="collapsible-header waves-effect arrow-r" (click)="openClass()">
              <i class="w-fa fas fa-th"></i>Quản lí lớp học<i class="fas fa-angle-down rotate-icon"></i>
            </a>
            <div class="collapsible-body" [collapse]="!isCollapsed2" [isAnimated]="true">
              <ul>
                <li *ngIf="role=='Manager' || role=='Admin' || role=='Teacher'">
                  <a (click)="changeListClass()" class="waves-effect">Danh sách lớp học</a>
                </li>
                <li *ngIf="role=='Manager' || role=='Admin'">
                  <a href="/addClass" class="waves-effect">Thêm lớp học</a>
                </li>
                <li *ngIf="role=='Manager' || role=='Admin'">
                  <a href="/addClassStudent" class="waves-effect">Thêm sinh viên vào lớp học</a>
                </li>
              </ul>
            </div>
          </li>
          <li *ngIf="role=='Manager' || role=='Admin' || role=='Teacher'">
            <a class="collapsible-header waves-effect arrow-r" (click)="openStudent()">
              <i class="w-fa fas fa-user"></i>Quản lí sinh viên<i class="fas fa-angle-down rotate-icon"></i>
            </a>
            <div class="collapsible-body" [collapse]="!isCollapsed3" [isAnimated]="true">
              <ul>
                <li *ngIf="role=='Manager' || role=='Admin' || role=='Teacher'">
                  <a (click)="changeListStudent()" class="waves-effect">Danh sách sinh viên</a>
                </li>
                <li *ngIf="role=='Manager' || role=='Admin'">
                  <a href="/addStudent" class="waves-effect">Thêm sinh viên</a>
                </li>
              </ul>
            </div>
          </li>
          <li *ngIf="role=='Manager' || role=='Admin'">
            <a class="collapsible-header waves-effect arrow-r" (click)="openSubject()">
              <i class="w-fa far fa-calendar-check"></i>Quản lí môn học<i class="fas fa-angle-down rotate-icon"></i>
            </a>
            <div class="collapsible-body" [collapse]="!isCollapsed4" [isAnimated]="true">
              <ul>
                <li *ngIf="role=='Manager' || role=='Admin'">
                  <a (click)="changeListSubject()" class="waves-effect">Xem môn học</a>
                </li>
                <li *ngIf="role=='Manager' || role=='Admin'">
                  <a href="/addSubject" class="waves-effect">Thêm môn học</a>
                </li>
              </ul>
            </div>
          </li>

          <li >
            <a class="collapsible-header waves-effect arrow-r" (click)="openLichhoc()"  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
              <i class="w-fa far fa-calendar-alt"></i>Quản lí lịch học<i class="fas fa-angle-down rotate-icon"></i>
            </a>
            <div id="collapseBasic" class="collapsible-body" [collapse]="!isCollapsed5" [isAnimated]="true">
              <ul>
                <li *ngIf="role=='Student'">
                  <a (click)="changeListSchedule()" class="waves-effect">Xem lịch học</a>
                </li>
                <li *ngIf="role=='Manager' || role=='Admin' || role=='Teacher'">
                  <a (click)="changeListSchedule()" class="waves-effect">Xem lịch học</a>
                </li>
                <li *ngIf="role=='Manager' || role=='Admin'">
                  <a href="/addSchedule" class="waves-effect">Thêm lịch học</a>
                </li>
              </ul>
            </div>
          </li>
          <li *ngIf="role=='Manager' || role=='Admin'">
            <a class="collapsible-header waves-effect arrow-r" (click)="openNews()">
              <i class="w-fa far fa-newspaper"></i>Quản lí tin tức<i class="fas fa-angle-down rotate-icon"></i>
            </a>
            <div class="collapsible-body" [collapse]="!isCollapsed6" [isAnimated]="true">
              <ul>
                <li>
                  <a (click)="changeListNews()" class="waves-effect">Xem tin tức</a>
                </li>
                <li *ngIf="role=='Manager' || role=='Admin'">
                  <a href="/addNews" class="waves-effect">Thêm tin tức</a>
                </li>
              </ul>
            </div>
          </li>
          <li *ngIf="role == 'Admin' || role=='Manager' || role=='Admin'">
            <a class="collapsible-header waves-effect arrow-r" href="/listRoom">
              <i class="w-fa fas fa-th-large"></i>Quản lí phòng học
            </a>
          </li>
          <li *ngIf="role == 'Admin' || role == 'Manager' || role == 'Teacher'">
            <a class="collapsible-header waves-effect arrow-r">
              <i class="w-fa far fa-calendar-check"></i>Điểm danh
            </a>
          </li>
          <li *ngIf="role == 'Admin' || role == 'Manager' || role == 'Teacher'">
            <a class="collapsible-header waves-effect arrow-r" href="/note">
              <i class="w-fa fas fa-table"></i>Quản lí ghi chú
            </a>
          </li>
          <li *ngIf="role == 'Admin' || role == 'Manager' || role == 'Teacher'">
            <a class="collapsible-header waves-effect arrow-r">
              <i class="w-fa far fa-bell"></i>Thông báo
            </a>
          </li>
        </ul>
      </li>
      <!-- Side navigation links -->
    </ul>
    <div class="sidenav-bg mask-strong"></div>
  </div>
  <!-- Sidebar navigation -->

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar ">

    <!-- SideNav slide-out button -->
    <div class="float-left">
      <a (click)="isCollapsedT = !isCollapsedT" class="button-collapse"><i class="fas fa-bars"></i></a>
    </div>

    <!-- Breadcrumb -->
    <!-- Breadcrumb -->
    <div class="breadcrumb-dn mr-auto">
      <p style="margin-bottom: 0; padding-left: 10px;">Quản lí trường học </p>
    </div>

    <div class="d-flex change-mode">
      <!-- Navbar links -->
      <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Hồ sơ</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Tài Khoản</a>
            <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
          </div>
        </li>

      </ul>

      <!-- Navbar links -->

    </div>

  </nav>
  <!-- Navbar -->
</header>
<script>
    $(document).ready(function () {
        $('.mdb-select').materialSelect();
    });
</script>
